.home {
  background-image: url("https://wallpapers.com/images/hd/gmail-blurred-colors-7g89u76d4aojqqw9.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
